[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
boto3 = "==1.42.82"
octodns = "==1.16.0"
octodns-route53 = "==0.0.7"
pytest = "==9.0.2"
pyyaml = "==6.0.3"
"ruamel.yaml" = "==0.18.6"
"ruamel.yaml.clib" = "==0.2.8"

[dev-packages]

[requires]
python_version = "3.11"
